<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SimpleProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SimpleProject.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SimpleProject</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" asp-controller="Student" asp-action="List">All Batches <span class="sr-only">Click</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" asp-controller="TeamA" asp-action="List1">TeamA Students</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" asp-controller="TeamB" asp-action="List2">TeamB Students</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" asp-controller="TeamC" asp-action="List3">TeamC Students</a>
              </li>
                 <li class="nav-item">
                <a class="nav-link" asp-controller="TeamD" asp-action="List4">TeamD Students</a>
              </li>
               <li class="nav-item">
                <a class="nav-link" asp-controller="MaleFemale" asp-action="male">Male Students</a>
              </li>
               <li class="nav-item">
                <a class="nav-link" asp-controller="MaleFemale" asp-action="Female">Female Students</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" asp-controller="Student" asp-action="SList">S-List Students</a>
              </li>
            </ul>
          </div>
    </nav>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - SimpleProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
        </div>
    </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
